@import "../../assets/styles/variables";

.product {
  padding: 12px;
  position: relative;
  border-radius: 8px;
  border: 1px solid $purpleColor;
  box-shadow: 2px 2px 10px $purpleColor;
  background-image: linear-gradient(180deg, $purpleLightColor, $whiteColor);
  overflow: hidden;
  .productImg {
    height: 240px;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 6px;
    img {
      height: 100%;
    }
  }
  .productContent {
    .productAuthor {
      font-size: 1.2rem;
      font-weight: 300;
    }
    .productName {
      font-weight: 400;
      font-size: 1.8rem;
    }
    .productPrice {
      font-weight: 400;
      font-size: 1.4rem;
      color: $purpleColor;
    }
  }
  .productActions {
    display: flex;
    position: absolute;
    top: 20%;
    left: 100%;
    transition: transform cubic-bezier(0.175, 0.885, 0.6, 1.275) 0.3s;
    flex-direction: column;
    row-gap: 6px;
    .productActionItem {
      span {
        cursor: pointer;
        display: inline-flex;
        padding: 8px;
        border-radius: 6px;
        background-color: $purpleColor;
        color: $whiteColor;
      }
    }
  }
  &:hover {
    .productActions {
      transform: translateX(-40px);
    }
  }
}
