@import "/src/assets/styles/variables";

.viewCategory {
  padding: 0 16px;
  margin-bottom: 24px;
  .viewCategoryHeading {
    font-weight: 500;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 24px;
  }
  .viewCategoryItem {
    cursor: pointer;
    width: 160px;
    max-width: 100%;
    .viewCategoryTitle {
      text-align: center;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .viewCategoryItemContent {
      margin-bottom: 6px;
    }
  }
}
